<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>register</title>
</head>
<body>
	<form method="post">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>

		<label for="password">Password:</label><br>
		<input type="text" name="password" id="password"><br>

		<label for="confirm">Confirm password:</label><br>
		<input type="text" name="confirm" id="confirm"><br>

		<input type="submit" value="Register"><br>
	</form>

	Already have an account? <a href="{{ url_for('auth.login') }}">login here</a>

	<br>
	{% for message in get_flashed_messages() %}
		<div class="flash" style="color: red;">{{ message }}</div>
	{% endfor %}

</body>
</html>