<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>todo</title>
</head>
<body>
	<header><a href="{{ url_for('pages.home') }}">back</a></header>
	<h2>{{ todolist.name }}</h2>
	{% if todolist|length > 0 %}
		{% for item in todolist %}
			{{ item.content }}<br>
		{% endfor %}
	{% else %}
		This list is empty<br><br>
	{% endif %}

	<br>
	<form method="POST">
		<input type="text" name="name" id="name">&nbsp;
		<input type="hidden" name="which" id="which" value="add">
		<input type="submit" value="Add New">
	</form>

	<form method="POST">
		<input type="text" name="name" id="name">&nbsp;
		<input type="hidden" name="which" id="which" value="delete">
		<input type="submit" value="Delete">
	</form>

</body>
</html>